<%= javascript_pack_tag 'new' %>
<div class="container new-question">
  <h2>New Question</h2>
  <%= form_with(url: :create_question) do |form| %>
    <%= form.text_area :question, size: "70x5", required: true, placeholder: "Type Question here" %><br>
    <%= form.check_box :contains_image %>
    <%= form.text_field :image_url, placeholder: "Image Url" %><br>
    <%= form.select :ques_type, ["tech","non-tech"] %>
    <%= form.select :level, [1,2] %><br>
    <div class="addOptions">
      <h3>Options<h3>
      <%= form.check_box :opt1_image %>
      <%= form.text_field :opt1, placeholder: "Option or Image Url" %><br>
    </div>
    <%= form.button "Add option", class: "addOption", type: "button" %><br>
    <%= form.submit "Add Question" %>
  <% end %>

</div>
