<div class="question" id=<%= "q #{question.question.id}" %>>
  <div class="ques-details">
    <span class="ques-no"> <%= question_number %> </span>
    <span id="time">Time Left: 01:00 </span>
  </div>
  <div class="ques">
    <p  id="ques"><%= question.question.question %></p>
  </div>
  <div class="score">
    <%= form_with(url: :submit, remote: true) do |form| %>
      <% question.question.options.each do |opt| %>
        <%= form.radio_button :option, opt.id , class: 'options', id: opt.id, required: true %>
        <%= form.label opt.id.to_s.to_sym, opt.option %><br>
      <% end %>
      <br>
      <%= form.button "Skip", class: "btn btn-secondary skip" %>
      <%= form.submit "Submit", class: "btn btn-primary submit" %>
    <% end %>
  </div>
</div>
