<div class="question" id=<%= "q #{question.question.id}" %>>
  <div class="ques-details">
    <span class="ques-no"> <%= question_number %> </span>
    <span id="time">Time Left: 01:00 </span>
  </div>
  <div class="ques">
    <p  id="ques"><%= question.question.question %></p>
    <% if has_image %>
      <img src=<%= image %> alt="Image" style="max-width: 200px;max-height: 200px;padding: 5px;" >
    <% end %>

  </div>
  <div class="score">
    <%= form_with(url: :submit, remote: true) do |form| %>
      <% question.question.options.each do |opt| %>
        <p style="display: flex;align-items: center;">
          <%= form.radio_button :option, opt.id , class: 'options', id: opt.id, required: true %>
          <% if opt.contains_image %>
            <label for=<%= opt.id.to_s %>>
              <img src=<%= opt.image_url %> alt="Image" style="max-width: 100px;max-height: 100px;padding: 5px;" >
            </label>
          <% else %>
            <%= form.label opt.id.to_s.to_sym, opt.option %><br>
          <% end %>
        </p>
      <% end %>
      <br>
      <%= form.button "Skip", data: {"disable-with": "Loading.."}, class: "btn btn-secondary skip" %>
      <%= form.submit "Submit",data: {"disable-with": "Please wait.."}, class: "btn btn-primary submit" %>
    <% end %>
  </div>
</div>
