<div class="row performance">
  <div class="col-lg-3 col-md-6 col-12 over-all">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Overall</h1>
    <% @users.order(marks: :desc).each do |user| %>
      <div class="each-category">
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.marks %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 techq">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Technical</h1>
    <% @users.order(tech_marks: :desc).each do |user| %>
      <div class="each-category">
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.tech_marks %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 non-tech">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Non-Technical</h1>
    <% @users.order(non_tech_marks: :desc).each do |user| %>
      <div class="each-category">
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.non_tech_marks %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 interaction">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Interaction</h1>
    <% @users.order(interaction_marks: :desc).each do |user| %>
      <div class="each-category">
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.interaction_marks %>
        </div>
      </div>
    <% end %>
  </div>
</div>
