<div class="row performance">
  <div class="col-lg-3 col-md-6 col-12 over-all">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Technical Level 1</h1>
    <% @users.order(tech_1_score: :desc).each do |user| %>
      <div class="each-category" <%= user.current_sign_in_at == nil ? 'style=color:#f07272' : '' %>>
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.tech_1_score %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 techq">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Technical Level 2</h1>
    <% @users.order(tech_2_score: :desc).each do |user| %>
      <div class="each-category" <%= user.current_sign_in_at == nil ? 'style=color:#f07272' : '' %>>
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.tech_2_score %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 non-tech">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Non-Technical Level 1</h1>
    <% @users.order(non_tech_1_score: :desc).each do |user| %>
      <div class="each-category" <%= user.current_sign_in_at == nil ? 'style=color:#f07272' : '' %>>
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.non_tech_1_score %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-6 col-12 interaction">
    <h1 class="main-head primary-text text-left font-weight-bold text-primary">Non-Technical Level 2</h1>
    <% @users.order(non_tech_2_score: :desc).each do |user| %>
      <div class="each-category" <%= user.current_sign_in_at == nil ? 'style=color:#f07272' : '' %>>
        <div class="col-lg-8">
          <%= user.name %>
        </div>
        <div class="col-lg-4">
          <%= user.non_tech_2_score %>
        </div>
      </div>
    <% end %>
  </div>
</div>
